@{
    ViewData["Title"] = "About Us";
}

<style>
    .leftAbout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 8px;
    }

</style>
<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div>

            <center class="mt-4">

                <h1>What We Do ! !</h1>
                <br />
                <div class="leftAbout">
                    <div>
                        <img src="~/Images/Pic1.jfif" alt="WebCor-abaaout" width="500" height="200" />
                    </div>

                    <div>
                        <img src="~/Images/Pic2.jfif" alt="WebCosar-abaaout" width="500" height="200" />
                    </div>
                </div>
                <br /><br />
                <pre>
                KeptMous Event Management System aim to reduce the time and cost for conducting en event. Our platform provide 
                    the most simple way to manage an event so that our users will not feel burden any more. No matter 
                             how large the event is, user still feel more comfortable when using our system.

                 Start launched on August 2022. From the main function which is CRUD Operation and other functions like searching 
                    event from nearby that provided, our platform expected to help generous amount of people to conduct  
                         event per month. Above all else, we create with the dream of enlivening our ultimate
                                mission: to provide the most comfortable way to conduct an event.
                </pre>
            </center>

        </div>

    </div>
</div>

